apiVersion: v1
kind: Service
metadata:
  name: timescaledb
  namespace: adsb-tracker
  labels:
    app: timescaledb
spec:
  selector:
    app: timescaledb
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
  type: ClusterIP
